<h1> Please activate your account. </h1>

<p> You are seeing this page because you haven't verified your email-address yet. </p>
<p> Please visit the link in your email to view further content from this site. </p>
