<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This site is built by The Mess group for the ITRW321 group. Our details:
</p>

<ul>
  <li> Shane Kelly,         24558338 </li>
  <li> Kevin Jacobs,        23863552 </li>
  <li> Skhumbuzo Lekhuleni, 24497444 </li>
</ul>
