<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-8">
    <section class="household_info">
      <h1> Household Details </h1>
      If no household, display large "It appears you do not belong to a household yet.
      /link/button Set up one here /link/button."
    </section>

  </aside>
  <aside class="col-md-2">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <aside class="col-md-2">
    <section class="user_pic">
      <%= gravatar_for @user %>
    </section>
  </aside>


</div>
