<% provide(:title, @user.firstname) %>
<div class="row">

  <aside class="col-md-2">
    <section class="user_info">
      <h1>
        <%= @user.firstname %>
      </h1>
    </section>
  </aside>
  <aside class="col-md-2">
    <section class="user_pic">
      <%= gravatar_for @user %>
    </section>
  </aside>


</div>
