<h1> You aren't a member of a household.</h1>
<p> To apply to an already-existing household, click here: </p>
  <%= link_to "Search for households", search_households_path(" "), class: "btn btn-lg btn-primary" %>
<p> To create a new household, click here: </p>
  <%= link_to "Create a new household", new_household_path, class: "btn btn-lg btn-primary" %>
